@font-face {
font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Italic.ttf");
}


.test-dashboard{
-fx-background-image: 
url(../../IQWD-APP-RESOURCES/Login/bg-960x540px.png);
}

.test-borderpane{
-fx-border-color: white;
-fx-border-width: 15px;
/*-fx-border-radius:50px;*/
}

.test-iqwd-logo{
-fx-font-family: 'Roboto';
-fx-font-size: 50px;
text-fill: red;
}